<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<h1>Home#</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% onesPlace = ['one',     'two',       'three',    'four',     'five',
               'six',     'seven',     'eight',    'nine'] %>
			   
<%= onesPlace[0] %>	
<%= onesPlace[3] %>	

<%= params[:name] %>		   
